/* Fonts */
@font-face {
  font-family: "WinThreeOne";
  src: url("fonts/w95fa.woff2") format("woff2"),
    url("fonts/w95fa.woff") format("woff");
}

/* Overall */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: "WinThreeOne", sans-serif;
  background-color: #00adac;
  font-size: 16px;
  font-smooth: never;
  -webkit-font-smoothing: none;
}

.formcontainer {
  height: 500px;
  width: 360px;
}
#contactform {
  width: 320px;
}

#label {
  width: 200px;
}

input#email,
input#name {
  width: 300px;
}
input#message {
  width: 300px;
  height: 300px;
}
